*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.conteiner{
    background-color: #0A22F4;
    max-width: 1920px; 
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.information{
    margin-left: 240px;
}
.form{
    margin-right: 240px;
}
.information h2{
    width: 162px;
    height: 38px;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.information p{
    width: 463px;
    height: 99px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 30px;


}
.map{
    width: 463px;
    height: 197px;
    border-radius: 15px;
    margin-top: 58px;
    margin-bottom: 70px;
}
.contact img{
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 42px;
   
}
.contact a{
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    vertical-align: middle;
    margin-right: 188px;
}
input{
    width: 463px;
    height: 60px;
    background-color: #0A22F4;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
input::placeholder{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    align-content: flex-start;
    

}
input:focus{
    outline: none;
}

textarea{
    width: 463px;
    height: 140px;
    background-color: #0A22F4;
}
textarea:focus{
    outline: none;
}


input[type=submit]{
    width: 151px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 40px;
}
.footer-conteiner{
    background-color: #0A22F4;
    max-width: 1920px; 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.text{
    margin-left: 240px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer-info{
    display: flex;
    margin-right: 240px;
}
.img{
    width: 121px;
    height: 35px;
    margin-left: 30px;
}
.footer-info a{
    font-size: 13px;
    line-height: 16px;
}
.picture{
    width: 26px;
    height: 26px;
    margin-left: 15px;
    margin-right: 10px;
}




